:root {
    --base: #515f76;
    --spacing: 10px;
    --blur: 10px;
}

body {
    margin: 0;
}

.info {
    background-color: #eeeeee;
    padding: 32px 16px;
    margin-bottom: 32px;
}

h2 {
    margin: 0;
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: bold;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    margin: 5px;
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.hl {
    color: var(--base)
}
